.main_page {
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  padding: 14px 0px 48px;
  display: flex;
  margin: 0px;
}
.call_to_action_text {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

